<!--
		This is the Calorie page. On this page
		the user will be able to add to the calories
		they have consumed during the day
-->

<ion-view  view-title="Calories">
	
	<!-- Add button for adding a new food Item -->
	<ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addNewFoodItem('Bread', 100)">
			  Add
        </button>
	</ion-nav-buttons>
	
	<ion-content>
		
		<!-- Heading -->
		<div class="item item-divider"> 
          <span style="font-size: 100%">Food Items</span>
	  	</div>
		
		<!-- Display food items -->
		<ul class="list">
    		<li class="item" ng-repeat="foodItems in foodItems" ng-click="deleteFoodItem($index)">
				<b>{{foodItems.name}}</b><br/> <b>Calories:</b> {{foodItems.calories}}
    		</li>
		</ul>
		
	</ion-content>
</ion-view>