<ion-view view-title="Settings">
	<ion-content>
		<!-- Displaying Users Current Details -->
		<div class="item item-divider"> 
          Name: {{user.firstName + " " + user.lastName}}
	  	</div>
		
		<div class="list">
			<!-- Input for Users First Name -->
  			<label class="item item-input item-floating-label">
    			<span class="input-label">First Name</span>
    			<input type="text" placeholder="First Name" ng-model="user.firstName">
  			</label>
			<!-- Input for Users Last Name -->
  			<label class="item item-input item-floating-label" >
    			<span class="input-label">Last Name</span>
    			<input type="text" placeholder="Last Name" ng-model="user.lastName">
  			</label>
		</div>
		<!-- Users Gender -->
		<div class="item item-divider"> 
          Gender: {{user.gender}}
	  	</div>
		<ion-radio ng-model="user.gender" ng-value="'Male'">Male</ion-radio>
		<ion-radio ng-model="user.gender" ng-value="'Female'">Female</ion-radio>
	  
	  <!-- Submit button to update details -->
		<button class="button button-full button-positive" ng-click="updateDetails()">
			Update Details
		</button>
		
	</ion-content>
</ion-view>